.c-checkbox {
  display: block;
  position: relative;
  padding-top: 6px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 0.55em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5em;
  width: 2.5em;
  background-color: $global-secondary;
}

.c-checkbox:hover input ~ .checkmark {
  background-color: $global-secondary;
}

.c-checkbox input:checked ~ .checkmark {
  background-color: $global-primary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.c-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.c-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
