.c-radio-group {
  margin-top: 1em;
  display: flex;
}
.c-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 32px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 800;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $global-secondary;
  border-radius: 50%;
}

.c-radio:hover input ~ .checkmark {
  background-color: $global-secondary;
}

.c-radio input:checked ~ .checkmark {
  background-color: $global-primary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.c-radio input:checked ~ .checkmark:after {
  display: block;
}

.c-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $global-white;
}
